.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #474747;

}

.footer__social {
    display: flex;
}

.footer__midia {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
}

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__navegacion {
        text-align: left;
        min-width: 600px;
    }
}